* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: #f5f7fa;
  padding: 20px;
  font-family: Montserrat;
}
.wrapper {
  background: #ffffff;
  display: flex;

  max-width: 1200px;
  margin: 0 auto;
}
.title__journal {
  display: flex;

}


.name_journal {
  font-size: 35px;
  color: blueviolet;
}

.guide_ref {
  font-size: 35px ;
  font-weight: 600;
  color: brown;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sidebar {
  background: #87cefa;
  width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.my-foto {
  width: 370px;
}

.softskills {
  margin-bottom: 24px;
}

.contacts {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
}
.aside-title {
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.2rem;
  line-height: 30px;
  color: black;
  margin-bottom: 20px;
}
.aside-style {
  text-decoration: none;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.8;
  color: black;
  margin-right: 20px;
}

.aside-itmes {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  color: black;
  margin-left: 15px;
}
.skill-text {
  color: black;
  font-size: 18px;
}
.profession {
  color: #000000;
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  margin-top: 23px;
  margin-bottom: 23px;
}
.name {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 2000;
  font-size: 95px;
  font-style: normal;
}
.content {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.7;
  margin-bottom: 30px;
}
.main-info {
  background-color: #87cefa;

  margin-bottom: 64px;
  margin-top: 64px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 80px;
}

.projects {
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 45px;
  margin-bottom: 10px;
}

.fact {
  text-align: center;
  color: brown;
  display: flex;
} 

.screen {
  width: 50%;
}

.facts {
  margin-top: 50px;
  margin-bottom: 50px;
}


.drug_table {
  width: 100%;
}
 

.translate {
  width: 50%;
  padding: 20px;
  color: #000000;
font-size: 1vw;


  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
  background-color: #87cefa;
  font-weight: 700;
}

.projects-name {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.project-link {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.tech-name {
  color: #595959;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.section-bio {
  margin-bottom: 30px;
}

.response {
  padding-left: 20px;
}

.experince {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.7;
  margin-bottom: 30px;
}

.experince h4 {
  font-weight: 900;
}

.project-item {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.7;
}

.project-container {
  margin-bottom: 55px;
  margin-left: 60px;
  margin-right: 60px;
}
.profession-title {
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 15px;
}
.company {
  color: #ff6b08;
}
.period {
  color: #a8a8a8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.divider {
  color: black;
}
.profession-duties {
  margin-top: 14px;
  margin-bottom: 30px;
}
.duties-description {
  color: #595959;
  font-size: 18px;
  font-weight: 400;
}
.speciality {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

.add {
  margin-top: 30px;
}
